iTraining.xcodeproj/project.xcworkspace/xcuserdata/andreykulinskiy.xcuserdatad/UserInterfaceState.xcuserstate
iTraining.xcodeproj/xcuserdata/andreykulinskiy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
